<div class="row justify-content-lg-center">
    <div class="col-lg-4">
      <form (ngSubmit)="onSignIn(form)" #form="ngForm">
        <p>Already have an account?</p>
        <div class="form-group">
          <label for="email">E-Mail</label>
          <input type="email" id="email" name="email" ngModel class="form-control" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" ngModel class="form-control" required>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Sign In</button>
        <p style='margin-top: 10px;'>Would like to register?</p>
        <button class="btn btn-success" routerLink="/signUp">Register</button>
      </form>
    </div>
  </div>
