<div class="row justify-content-lg-center">
    <div class="col-lg-4">
      <form (ngSubmit)="onSignUp(form)" #form="ngForm">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" name="firstName" ngModel class="form-control" required>
        </div>
        <div class="form-group">
          <label for="secondName">Second Name</label>
          <input type="text" id="secondName" name="secondName" ngModel class="form-control" required>
        </div>
        <div class="form-group">
            <label for="email">E-Mail</label>
            <input type="email" id="email" name="email" ngModel class="form-control" required>
          </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" ngModel class="form-control" required>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Open Account</button>
      </form>
    </div>
  </div>
