<div class="row justify-content-lg-center">
    <div class="col-lg-4">
      <form (ngSubmit)="onChangeAmount(form)" #form="ngForm">
        <div class="form-group">
          <label for="type">Please choose type of transaction:</label>
          <select id="type" name="type" ngModel class="form-control" required>
              <option *ngFor="let type of allTypes" [ngValue]="type">
                  {{ type }}
              </option>
          </select>
        </div>
        <div class="form-group">
          <label for="id">Person ID</label>
          <input type="number" id="id" name="id" ngModel class="form-control" required>
        </div>
        <div class="form-group">
          <label for="amount">Amount of money</label>
          <input type="number" id="amount" name="amount" ngModel class="form-control" required>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Make Transaction</button>
      </form>
    </div>
  </div>
